.primary_btn{
    padding: 18px 10px;
    background-color: #7CC242;
    color: #fff;
    border-radius: 6px;
    outline: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
}

.outline_btn{
    padding: 18px 10px;
    border: 2px solid #7CC242;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    outline: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    outline: none;
}
