.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto !important;
} */

.toggleButton {
  display: none;
  /* Hide toggle button on larger screens */
}

.logo a img{
  height: 80px;
}

.navbarItems li{
  display: inline;
  list-style: none;
  padding: 20px;
}

.mobile_logo{
  display: none;
}

.mobile_logo a img{
  height: 80px;
}

.navbarItems li a{
  color: #000;
}

@media (max-width: 767px) {

  .mobile_logo{
    display: block;
  }
  .mobile_logo a{
    display: block;
  }
  .navbarItems {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 70%;
    /* Adjust width as per your requirement */
    height: 100vh;
    flex-direction: column;
    padding:20px;
    /* Adjust top padding as per your design */
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbarItems li{
    display:block;
    padding: 10px 15px;
  } 

  .navbarItems.active {
    transform: translateX(0%);
  }

  .toggleButton {
    display: block;
    /* Show toggle button on smaller screens */
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: static;
    z-index: 1000;
    font-size: 30px;
  }
}